.add-car {
    margin: 30px;
    width: 50vw;
    height: 50vh;
}

.inputs-wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    margin: 20px 0;
}

.inputs-wrapper p {
    display: flex;
    flex-direction: column;
}

.add-car input, .add-car select {
    border: 2px solid #666;
    outline: none;
    padding: 4px;
    transition: .3s;
    background-color: #fff;
}

.add-car textarea {
    resize: none;
    min-height: 100px;
    outline: none;
    padding: 5px;
    border: 2px solid #666;
    transition: .3s;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
}

.inputs-wrapper p input:active,  .inputs-wrapper p input:focus, .add-car textarea:active, .add-car textarea:focus{
    border: 2px solid #5555f6;
    border-radius: 10px;
}

.small-inputs-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 10px;
}

.add-car button:last-child {
    padding: 10px;
    background-color: #5555f6;
    border: 3px solid #5555f6;
    color: #fff;
    outline: transparent;
    transition: .3s;
}

.add-car button:hover {
    background-color: #fff;
    color: #5555f6;
    border-radius: 5px;
    cursor: pointer;
}

.add-car input[type="file"]{
    border: none;
}