.footer {
    display: flex;
    flex-direction: column;
    color: white;
}

.footer-links {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    gap: 100px;
    padding: 100px 200px 200px;
    background-color: #333;
    border-top: 4px solid #000;
}

.footer-links a {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 5px
}

.footer-links  h4 {
    font-size: 20px;
    margin: 10px 0;
}

.footer-links  p {
    margin: 10px 0;
    font-size: 14px;
    
}

.footer-links p:hover {
    text-decoration: underline;
    cursor: pointer;
}

.footer-links  p img {
    width: 25px;
    height: 25px;
}

.footer-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #222;
    height: 100px;
}