.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 20;
    background-color: #5555f6;
}

.overlay-container {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 20;
}

.overlay-content {
    width: auto;
    height: auto;
    padding: 20px;
    box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 1);
    -webkit-box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 1);
    -moz-box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 1);
    border: 2px solid #000;
    background-color: #fff;
    border-radius: 20px;
    z-index: 30;
    animation: slide-down 300ms ease-out forwards;
}

@keyframes slide-down {
    from {
        opacity: 0;
        transform: translateY(-3rem);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}